
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}"><button type="submit" class="btn">Edit Post</button></a>
    </li>
    {{/each}}
  </ol>
  <a href="/dashboard/create"><button type="submit" class="btn">Create Post</button></a>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>