
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <button type="submit" class="btn"><a href="/dashboard/edit/{{post.id}}">Edit Post</a></button>
    </li>
    {{/each}}
  </ul>
  <button type="submit" class="btn"><a href="/dashboard/create">Create Post</a></button>

</section>
{{/if}}

<script src="/javascript/add-post.js"></script>