<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <h3>Post title: </h3>
      <input name="post-title" type="text" value="{{post.title}}" />
      <h4> Blog post content:</h4>
      <textarea name="post-content" type="textarea" id='post-content'>{{post.post_body}}</textarea>
    <p>Created on:{{format_date post.createdAt}}</p></div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
    <div>
      <h5>Comments:</h5>
    {{> comments.post.comments}}
    </div>
    
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
