<div class="title">
  <h3>{{post.title}}</h3>
  <span>({{post.post_body}})</span>
</div>

{{#if loggedIn}}
<form class="comment-form card">
    <div class="card-header">Add New Comment</div>
    <div class="comment-form-body">
        <div>
            <textarea name="comment-body" class="form-textarea"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">Add Comment</button>
        </div>
    </div>
</form>
{{/if}}

{{!-- comments partial will pass through here --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}