{{!-- {{> post-info post }} --}}
  <div class="title">
    <h3>{{post.title}}</h3>
    <span>({{post.post_body}})</span>
  </div>

{{#if loggedIn}}
<form class="comment-form">
  <input type="hidden" name="post_id" value="{{post.id}}" />
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}