:root {
  --primary: #ccd8da;
  --secondary: #9caeae;
  --tertiary: #788485;
  --light-dark: #666f6f;
  --dark: #38302e;
  --border-radius: .3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--primary);
}

.navbar {
  background: var(--dark);
  padding: 15px 20px;
}

.navbar a {
  text-decoration: none;
  margin: 20px;
  color: var(--primary);
}

.navbar h1 {
  border: 2px solid var(--primary);
  width: fit-content;
  margin: 15px;
  padding: 5px;
  border-radius: 8px;
  color: var(--dark);
  box-shadow: 5px 5px 1px var(--secondary);
  background-color: var(--primary);
}
